@model List<SistemaDeNotas.BL.Alumno> 
@{
    ViewBag.Title = "Index";
}

<h2>Alumnos</h2>

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
              <th>
                Nombre
            </th>
            <th>
                Notas
            </th>
        </tr>
    </thead>
        

    @foreach (var alumno in Model)
    {
        <tr>
            <td>@alumno.Id</td>
            <td>@alumno.Nombre</td>
            <td>@alumno.Notas</td>
        </tr>
    }
 
</table>